<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/Details.js">
var nameid = document.getElementById("name");
var cityid = document.getElementById("city");
var submitid = document.getElementById("submit");
var divid = document.getElementById("new");

function fun(){
	divid.innerHMTL = "Hello";
}

</script>
</head>
<body>

Name : <input type = "text" id="name">
city : <input type = "text" id="city">
<br>
<button id = "submit" onclick="fun">Submit</button>
<br>

<div id = "new">

</div>

</body>
</html>